@font-face {
  font-family: borzoiFont2;
  src: url("../fonts/Ubuntu-B.ttf"); }
html {
  margin: 0; }

body {
  margin: 0;
  font-family: borzoiFont2; }

#navbar-area {
  background-color: white;
  border-bottom: 1.5px solid #e3e3e3;
  width: 100vw;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  #navbar-area .nav-logo img {
    width: 50px;
    height: auto;
    margin-left: 15px;
    display: flex;
    cursor: crosshair; }

.container-bars {
  position: absolute;
  right: 15px; }

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 4px;
  border-radius: 5px;
  background-color: lightgrey;
  margin: 8px 15px; }

.dropdown {
  width: 110px;
  height: 150px;
  background-color: #e3e3e3;
  z-index: 100;
  margin-right: 25px;
  margin-top: 210px; }

.nav-link1, .nav-link2, .nav-link3 {
  text-align: center;
  text-decoration: none; }

.nav-link1:hover, .nav-link2:hover, .nav-link3:hover {
  background-color: #f4f4f4;
  padding-top: 5px;
  padding-bottom: 5px; }

#pointer {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 12px solid #e3e3e3;
  position: relative;
  left: 65px;
  top: -127px; }

a {
  text-decoration: none;
  color: grey; }

#logo-area {
  display: flex;
  justify-content: center; }

.main-photo {
  width: 90%;
  height: auto;
  margin-top: 20px;
  align-self: center; }

@font-face {
  font-family: borzoiFont;
  src: url("../fonts/leto.otf"); }
@font-face {
  font-family: borzoiFontSkinny;
  src: url("../fonts/Ubuntu-L.ttf"); }
.video {
  display: none; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .video {
      display: block;
      display: flex;
      justify-content: center;
      margin: 2.5%; } }

.main-photo2 {
  width: 40%;
  height: auto;
  align-self: flex-end; }

.product-title {
  margin-left: 20px;
  font-family: borzoiFont;
  border-bottom: 1px solid #e3e3e3;
  margin-right: 20px; }

#products-area {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center; }

.product-card {
  width: 40%;
  height: 220;
  display: flex;
  margin-top: 25px;
  background-color: white;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 3px;
  border: 2px solid #e3e3e3;
  margin-left: 2%;
  margin-right: 2%; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .product-card {
      width: 20%; } }
  @media (min-width: 1024px) {
    .product-card {
      width: 20%; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .main-photo {
    display: none; } }

.tape1 {
  margin-top: 15px;
  width: 80%;
  height: auto;
  display: flex;
  align-self: center; }

.product-info {
  color: black;
  flex-direction: column;
  align-self: center;
  margin-top: 10px; }
  .product-info h3, .product-info h5, .product-info p {
    margin: 5px;
    margin-top: 8px; }
  .product-info h5 {
    color: grey;
    font-family: borzoiFontSkinny; }
  .product-info h3 {
    text-decoration: underline;
    cursor: crosshair; }
  .product-info p {
    font-family: borzoiFont; }

button {
  display: flex;
  justify-content: center; }

#modal-btn {
  padding: 10px;
  margin: 20px;
  width: 100px;
  background-color: black;
  color: white;
  border: none;
  font-size: 12px;
  border-radius: 5px;
  display: flex;
  align-self: center; }

.btn {
  padding: 10px;
  margin: 20px;
  width: 100px;
  background-color: black;
  color: white;
  border: none;
  font-size: 12px;
  border-radius: 5px;
  display: flex;
  align-self: flex-end; }

#modal {
  border-radius: 5px;
  display: none;
  position: absolute;
  top: 50%;
  width: 350px;
  height: 200px;
  background-color: #e3e3e3;
  text-align: center;
  font-family: borzoiFont;
  z-index: 11000; }

.modal-content {
  display: flex;
  justify-content: center; }

.product-content {
  display: flex; }

@font-face {
  font-family: borzoiFont;
  src: url("../fonts/leto.otf"); }
@font-face {
  font-family: borzoiFontSkinny;
  src: url("../fonts/Ubuntu-L.ttf"); }
@font-face {
  font-family: borzoiFontSkinny;
  src: url("../fonts/Ubuntu-L.ttf"); }
#about-area {
  display: flex;
  align-items: center; }

.about-title {
  font-family: borzoiFont;
  border-bottom: 1.5px solid #e3e3e3;
  padding-bottom: 5px;
  margin-right: 15px;
  margin-left: 15px;
  width: 90%; }

.about-info {
  font-family: borzoiFontSkinny;
  text-align: justify;
  width: 90%;
  font-size: 14px; }

.about-images {
  align-items: center;
  display: flex;
  flex-direction: column; }

.about {
  display: flex;
  flex-direction: column;
  align-items: center; }

.tape-ill {
  width: 90vw;
  height: auto; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .tape-ill {
      display: none; } }

.tablet-pics-about {
  display: none; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .tablet-pics-about {
      display: block;
      display: flex;
      justify-content: center; } }

.tape-ill2 {
  width: 40%;
  height: 100%;
  align-self: flex-start;
  margin-right: 5%; }

.crew-sq {
  width: 40%;
  height: 100%;
  align-self: flex-start;
  margin-left: 5%; }

@font-face {
  font-family: borzoiFont;
  src: url("../fonts/leto.otf"); }
@font-face {
  font-family: borzoiFontSkinny;
  src: url("../fonts/Ubuntu-L.ttf"); }
@font-face {
  font-family: borzoiFontSkinny;
  src: url("../fonts/Ubuntu-L.ttf"); }
#footer-area {
  margin-top: 35px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  background-color: black;
  width: 100vw;
  height: 250px; }

.footer-list {
  color: white;
  font-family: borzoiFontSkinny;
  list-style: none;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-size: 12px;
  margin-top: 30.5px; }

.foot-pic1, .foot-pic2, .foot-pic3, .foot-pic4 {
  width: 30px;
  height: auto;
  margin: 5px; }

.foot-pic1:hover, .foot-pic2:hover, .foot-pic3:hover, .foot-pic4:hover {
  transform: scale(0.85); }

.mask-off {
  display: none;
  width: 100vw;
  height: 138vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  position: absolute; }

/*# sourceMappingURL=styles.css.map */
