$background-color: #e3e3e3;


@font-face {
    font-family: borzoiFont2;
    src: url('../fonts/Ubuntu-B.ttf');
}

html {
  margin: 0;
}

body {
  margin: 0;
  font-family: borzoiFont2;
}


#navbar-area {
  background-color: white;
  border-bottom: 1.5px solid $background-color;
  width: 100vw;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .nav-logo img {
    width: 50px;
    height: auto;
    margin-left: 15px;
    display: flex;
    cursor: crosshair;
  }
}

.container-bars {
  position: absolute;
  right: 15px;
  // flex-direction: row;
  // justify-content: space-around;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 4px;
  border-radius: 5px;
  background-color: lightgrey;
  margin: 8px 15px;
}

.dropdown {
  width: 110px;
  height: 150px;
  background-color: $background-color;
  z-index: 100;
  margin-right: 25px;
  margin-top: 210px;
  // box-shadow: 0px 5px 12px grey;
}
.nav-link1, .nav-link2, .nav-link3 {
  text-align: center;
  text-decoration: none;
}

.nav-link1:hover, .nav-link2:hover, .nav-link3:hover {
  background-color: #f4f4f4;
  padding-top: 5px;
  padding-bottom: 5px;
}

#pointer {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 12px solid $background-color;
  position: relative;
  left: 65px;
  top: -127px;
}

a {
  text-decoration: none;
  color: grey;
}
