@import 'navbar';
@import 'cover-photo';
@import 'products';
@import 'desktopSize';
@import 'about';
@import 'footer';


.mask-off {
  display: none;
  width: 100vw;
  height: 138vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  position: absolute;
}
